USE [master]
GO
/****** Object:  Database [AfecorOrderSystemDB]    Script Date: 21/9/2025 22:04:59 ******/
CREATE DATABASE [AfecorOrderSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AfecorOrderSystemDB', FILENAME = N'C:\SQLData\AfecorOrderSystemDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AfecorOrderSystemDB_log', FILENAME = N'C:\SQLData\AfecorOrderSystemDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AfecorOrderSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AfecorOrderSystemDB]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 21/9/2025 22:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ClienteId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Direccion] [nvarchar](200) NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallesPedido]    Script Date: 21/9/2025 22:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesPedido](
	[DetallePedidoId] [int] IDENTITY(1,1) NOT NULL,
	[PedidoId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[CostoUnitario] [decimal](18, 2) NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[RentabilidadPorcentaje] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_DetallesPedido] PRIMARY KEY CLUSTERED 
(
	[DetallePedidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 21/9/2025 22:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[PedidoId] [int] IDENTITY(1,1) NOT NULL,
	[ClienteId] [int] NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[RentabilidadPromedio] [decimal](5, 2) NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[Observaciones] [nvarchar](500) NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Pedidos] PRIMARY KEY CLUSTERED 
(
	[PedidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 21/9/2025 22:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[ProductoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Costo] [decimal](18, 2) NOT NULL,
	[PrecioVenta] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Categoria] [nvarchar](50) NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([ClienteId], [Nombre], [Email], [Telefono], [Direccion], [FechaCreacion]) VALUES (1, N'Agricola San José', N'info@agricolasanjose.com', N'123-456-7890', N'Av. Principal 123, Lima', CAST(N'2025-09-21T19:28:56.2463880' AS DateTime2))
INSERT [dbo].[Clientes] ([ClienteId], [Nombre], [Email], [Telefono], [Direccion], [FechaCreacion]) VALUES (2, N'Cooperativa Valle Verde', N'contacto@valleverde.coop', N'987-654-3210', N'Carretera Norte Km 45, Trujillo', CAST(N'2025-09-21T19:28:56.2463905' AS DateTime2))
INSERT [dbo].[Clientes] ([ClienteId], [Nombre], [Email], [Telefono], [Direccion], [FechaCreacion]) VALUES (3, N'Hacienda El Progreso', N'ventas@elprogreso.pe', N'555-123-4567', N'Fundo Rural S/N, Chiclayo', CAST(N'2025-09-21T19:28:56.2463906' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[DetallesPedido] ON 

INSERT [dbo].[DetallesPedido] ([DetallePedidoId], [PedidoId], [ProductoId], [Cantidad], [PrecioUnitario], [CostoUnitario], [Subtotal], [RentabilidadPorcentaje]) VALUES (1, 1, 1, 10, CAST(75.00 AS Decimal(18, 2)), CAST(45.00 AS Decimal(18, 2)), CAST(750.00 AS Decimal(18, 2)), CAST(40.00 AS Decimal(5, 2)))
INSERT [dbo].[DetallesPedido] ([DetallePedidoId], [PedidoId], [ProductoId], [Cantidad], [PrecioUnitario], [CostoUnitario], [Subtotal], [RentabilidadPorcentaje]) VALUES (2, 1, 2, 5, CAST(55.00 AS Decimal(18, 2)), CAST(32.00 AS Decimal(18, 2)), CAST(275.00 AS Decimal(18, 2)), CAST(41.82 AS Decimal(5, 2)))
INSERT [dbo].[DetallesPedido] ([DetallePedidoId], [PedidoId], [ProductoId], [Cantidad], [PrecioUnitario], [CostoUnitario], [Subtotal], [RentabilidadPorcentaje]) VALUES (3, 2, 5, 5, CAST(300.00 AS Decimal(18, 2)), CAST(12.00 AS Decimal(18, 2)), CAST(1500.00 AS Decimal(18, 2)), CAST(96.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[DetallesPedido] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([PedidoId], [ClienteId], [Fecha], [Total], [RentabilidadPromedio], [Estado], [Observaciones], [FechaCreacion]) VALUES (1, 1, CAST(N'2024-01-15T10:00:00.0000000' AS DateTime2), CAST(1025.00 AS Decimal(18, 2)), CAST(40.91 AS Decimal(5, 2)), N'Pendiente', N'Pedido de prueba', CAST(N'2025-09-21T21:30:16.0462634' AS DateTime2))
INSERT [dbo].[Pedidos] ([PedidoId], [ClienteId], [Fecha], [Total], [RentabilidadPromedio], [Estado], [Observaciones], [FechaCreacion]) VALUES (2, 1, CAST(N'2025-09-22T02:47:18.4680000' AS DateTime2), CAST(1500.00 AS Decimal(18, 2)), CAST(96.00 AS Decimal(5, 2)), N'Pendiente', N'sin observaciones', CAST(N'2025-09-21T21:48:14.4525914' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([ProductoId], [Nombre], [Descripcion], [Costo], [PrecioVenta], [Stock], [Categoria], [Activo], [FechaCreacion]) VALUES (1, N'Herbicida Glifosato 48%', N'Herbicida sistémico no selectivo', CAST(45.00 AS Decimal(18, 2)), CAST(75.00 AS Decimal(18, 2)), 100, N'Herbicidas', 1, CAST(N'2025-09-21T19:28:56.2464052' AS DateTime2))
INSERT [dbo].[Productos] ([ProductoId], [Nombre], [Descripcion], [Costo], [PrecioVenta], [Stock], [Categoria], [Activo], [FechaCreacion]) VALUES (2, N'Insecticida Cipermetrina', N'Insecticida piretroide de contacto', CAST(32.00 AS Decimal(18, 2)), CAST(55.00 AS Decimal(18, 2)), 80, N'Insecticidas', 1, CAST(N'2025-09-21T19:28:56.2464066' AS DateTime2))
INSERT [dbo].[Productos] ([ProductoId], [Nombre], [Descripcion], [Costo], [PrecioVenta], [Stock], [Categoria], [Activo], [FechaCreacion]) VALUES (3, N'Fungicida Mancozeb', N'Fungicida preventivo de contacto', CAST(28.50 AS Decimal(18, 2)), CAST(48.00 AS Decimal(18, 2)), 120, N'Fungicidas', 1, CAST(N'2025-09-21T19:28:56.2464068' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clientes_Email]    Script Date: 21/9/2025 22:04:59 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Clientes_Email] ON [dbo].[Clientes]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetallesPedido_PedidoId]    Script Date: 21/9/2025 22:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_DetallesPedido_PedidoId] ON [dbo].[DetallesPedido]
(
	[PedidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetallesPedido_ProductoId]    Script Date: 21/9/2025 22:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_DetallesPedido_ProductoId] ON [dbo].[DetallesPedido]
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pedidos_ClienteId]    Script Date: 21/9/2025 22:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_Pedidos_ClienteId] ON [dbo].[Pedidos]
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pedidos_Fecha]    Script Date: 21/9/2025 22:04:59 ******/
CREATE NONCLUSTERED INDEX [IX_Pedidos_Fecha] ON [dbo].[Pedidos]
(
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DetallesPedido]  WITH CHECK ADD  CONSTRAINT [FK_DetallesPedido_Pedidos_PedidoId] FOREIGN KEY([PedidoId])
REFERENCES [dbo].[Pedidos] ([PedidoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetallesPedido] CHECK CONSTRAINT [FK_DetallesPedido_Pedidos_PedidoId]
GO
ALTER TABLE [dbo].[DetallesPedido]  WITH CHECK ADD  CONSTRAINT [FK_DetallesPedido_Productos_ProductoId] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Productos] ([ProductoId])
GO
ALTER TABLE [dbo].[DetallesPedido] CHECK CONSTRAINT [FK_DetallesPedido_Productos_ProductoId]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Clientes_ClienteId] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([ClienteId])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Clientes_ClienteId]
GO
USE [master]
GO
